header {
    background-color: rgb(180, 166, 160);
}
section {
    background-color: rgb(245, 7, 150);
}
h1 {
    color:rgb(52, 16, 210);
    text-align: center;
    text-transform : uppercase;
}
h2 {
    color:rgb(36, 101, 4);
    text-transform: uppercase;
}
a {
    color : rgb(144, 239, 245);
    background-color: rgb(28, 2, 17);
}
img {
    display: none;
}