.container {
    display : grid;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
   
}

header {
    grid-area : header;
    background-color: blue;

}
nav {
    grid-area : nav;
}
main {
    grid-area : main;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "section1 section1 section1"
    "sect2-1 sect2-2 sect2-3";
}
#section1 {
    grid-area : section1;
}
#sect2-1 {
    grid-area : sect2-1;
}
#sect2-2 {
    grid-area : sect2-2;
}
#sect2-3 {
    grid-area : sect2-3;
}
footer {
    grid-area : footer;
}
